.header{
    padding-top: 35px;
    height: 100vh;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nav-top{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    
}
.nav-top__menu-wrapper{
    max-width: 734px;
    display: flex;
    align-items: center;
    & ul{
        display: flex;
        gap: 40px;
    }
    & li{
        list-style: none;
        font-weight: 500;
        white-space: nowrap;
        cursor: pointer;
    }
    & button{
        margin-left: 40px;
        height: auto;
    }
}
.header__info{
    margin-left: 122px;
    margin-top: 135px;
    .header__title{
        font-size: 64px;
        line-height: 84px;
        letter-spacing: 0%;
        max-width: 665px;
        
    }
    .header__text{
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0.2px;
        max-width: 650px;
        font-weight: 400;
    }
    .header__info-button{
        position: relative;
        max-width: 502px;
        height: 73px;
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 8px;
        margin-top: 50px;
        overflow: hidden;

        & input{
            border: none;
            width: 100%;
            padding-right: 150px;
            padding-left: 20px; 
            outline: none;
            font-size: 16px;
            line-height: 36px;
            font-weight: 400;
            letter-spacing: 0.2px;
        }
        & button{
            position: absolute; 
            right: 6px; 
            top: 50%; 
            transform: translateY(-50%); 
            border: none;
            width: 136px;
            height: 61px;
            background-color: var(--background-one-color);
            color: var(--text-two-color);
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            line-height: 36px;
            font-weight: 400;
            letter-spacing: 0.2px;
        }
    }
  

}