.section2{
    background-color: var(--background-one-color);
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 78px;
    padding-top: 68px;
    box-sizing: border-box;
}
.section2__block1{
    text-align: center;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    & h2{
        font-size: 45px;
        white-space: normal;
        max-width: 836px;
        line-height: 1.2;
        font-weight: 800;
        letter-spacing: 0;
        color: var(--text-two-color);
        margin: 0 auto;
    }
    & p{
        margin-top: 8px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        letter-spacing: 0;
        color: var(--text-two-color);
    }

}
.section2__block2{
    display: flex;
    gap: 24px 40px;
    margin: 40px auto 0 auto;
    
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    padding: 0 24px;
    & p{
        margin-top: 8px;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0;
        color: var(--text-two-color);
        text-align: center;
        max-width: 220px;
    }
    & img{
        flex-shrink: 0;
    }
}
@media (max-width:1024px){
    .section2{
        padding: 35px 40px;
    }
    .section2__block1 h2{
        font-size: 38px;
    }
    .section2__block1 p{
        font-size: 18px;
        line-height: 28px;
    }
    .section2__block2{
        gap: 20px;
        max-width: 1000px;
    }
}
@media (max-width:320px){
    .section2{
        padding: 50px 20px 84px 20px;
    }
    .section2__block1 h2{
        font-size: 36px;
        line-height: 47px;
    }
    .section2__block1 p{
        font-size: 14px;
        line-height: 32px;
    }
    .section2__block2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-top: 40px;
    }
    .section2__block2 p{
        max-width: 260px;
        margin: 0;

    }
    .section2__block2 img{
        margin: 0;
        transform: rotate(90deg);
    }
}