.section1{
    padding: 120px 144px 140px 143px;
    margin: 0 auto;

    h1{
        font-size: 36px;
        line-height: auto;
        font-weight: 800;
        letter-spacing: 0;
        color: var(--text-one-color);
        text-align: center;
    }
    p{
        font-size: 24px;
        line-height: 40px;
        font-weight: 400;
        letter-spacing: 0.2px;
        color: var(--text-one-color);
        max-width: 994px;
        text-align: center;
        margin: 30px auto 0 auto;
    }
}
.section1__info{
    gap: 120px;
    text-align: center;
    margin-top: 90px;
    max-width: 1153px;
    margin: 0 auto;
}
.section1__info1{
    display: flex;
    gap: 139px;
    & .section1__info1-item{
       & h1{
        font-size: 24px;
        max-width: 298px;
        line-height: auto;
        font-weight: 800;
        letter-spacing: 0%;
        color: var(--text-one-color);
        margin-top: 10px;
        margin-bottom: -20px;
       }
        & p{
        font-size: 18px;
        max-width: 298px;
        line-height: 28px;
        font-weight: 400;
        letter-spacing: 0.2px;
        color: var(--text-one-color);
       }
    }
}
.section1__info2{
    display: flex;
    gap: 139px;
    margin-top: 85px;
    & .section1__info2-item{
       & h1{
        font-size: 24px;
        max-width: 298px;
        line-height: auto;
        font-weight: 800;
        letter-spacing: 0%;
        color: var(--text-one-color);
        margin-top: 10px;
        margin-bottom: -20px;
       }
        & p{
        font-size: 18px;
        max-width: 298px;
        line-height: 28px;
        font-weight: 400;
        letter-spacing: 0.2px;
        color: var(--text-one-color);
       }
    }
}
@media(max-width:1024px){
    .section1{
        padding: 80px 40px;
        margin: 0 auto;
        h1{
            font-size: 32px;
        }
        p{
            max-width: 720px;
            font-size: 20px;
            line-height: 34px;
        }
    }
    .section1__info{
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, minmax(220px, 1fr));
        gap: 50px;
        width: 100%;
    }
    .section1__info1,
    .section1__info2{
        display: contents;
    }
    .section1__info1-item,
    .section1__info2-item{
        margin: 0 auto;
        max-width: 320px;
    }
}
@media(max-width:320px){
    .section1{
        padding: 60px 20px;
        margin: 0 auto;
        gap: 60px;
        .section1__title{
            white-space: nowrap;
            text-align: center;
            font-size: 23px !important;
        }
        h1{
            font-size: 24px !important;
        }
        p{
            max-width: 330px;
            font-size: 12px;
            line-height: 22px;
        }
    }
    .section1__info{
        margin-top: 60px;
        display: block;
        width: 100%;
    }
    .section1__info1-item,
    .section1__info2-item{
        margin: 0 auto;
        max-width: 298px;
        margin-top: 80px;
    }
}
